@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root {
    --main-bg: background: rgb(33, 47, 69);
    background: linear-gradient(90deg, rgba(33, 47, 69, 1) 0%, rgba(49, 34, 68, 1) 35%, rgba(62, 31, 71, 1) 100%);
    ;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background-color: var(--main-bg);
    color: white;
    font-family: 'Space Mono', monospace;
}


input[type=number] {
    
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

.btn {
    font-family: 'Space Mono', monospace;
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    background: rgb(6, 90, 96);
    background: radial-gradient(circle, rgba(6, 90, 96, 1) 0%, rgba(11, 82, 91, 1) 35%, rgba(20, 69, 82, 1) 100%);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background: rgb(27, 58, 75);
    background: radial-gradient(circle, rgba(27, 58, 75, 1) 0%, rgba(11, 82, 91, 1) 35%, rgba(0, 100, 102, 1) 100%);
    ;
}
